@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
body {
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
}

/* Bootstrap Changes */


a:hover {
  text-decoration: none;
  color: inherit;
}

a {
  color: #000;
}