.random-display {

    padding: 10px 5px;
    white-space: nowrap;
    overflow-x: scroll;

}

.random-display::-webkit-scrollbar {
    display: none;
}


.currency-card {
    border: 1px solid #000;
}

.currency-card:hover {
    animation-name: pulse;
    animation-duration: 0.5s;
}